<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Login</h1>
        <div th:if="${#request.getParameter('error') == true}">
            <h4>Invalid username or password</h4>
            <p>Reason<span
                    th:if="${#session.getAttribute('SPRING_SERCURITY_LAST_EXCEPTION') !=null}"
                    th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">1</span>
            </p>
        </div>
        <form th:action="@{/j_spring_security_check}" method="post">
            <div>Username: <input name="username"></div>
            <div>Password: <input name="password" type="password"></div>
            <div><input type="submit" value="Login"></div>
        </form>
    </body>
</html>
