<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
    <head>  
    </head>
    <body>

        <div layout:fragment="content" id="content-page" class="content-page">
            <span style="margin-left: 50px" th:object="${user}" th:inline="text" class="text-center text-justify text-success text-uppercase">Welcome [[${user.fullname}]]</span> 
        </div>
    </body>
</html>
