<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid" th:if="${session.user !=null}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between align-items-center">
                                <div class="iq-header-title">
                                    <h4 class="card-title">My Playlists</h4>
                                </div>
                                <div id="feature-album-slick-arrow" class="slick-aerrow-block"></div>
                            </div>
                            <div class="iq-card-body">
                                <p th:if="${service_pl.findByAccountId(session.user.id).size == 0}">You Don't Have Playlists</p>
                                <div class="people-nearby" th:if="${service_pl.findByAccountId(session.user.id).size > 0}" th:each="item:${service_pl.findByAccountId(session.user.id)}">
                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <a th:if="${service_plitem.findByPlaylistId(item.id).size>0}" th:href="@{/song/playlist/{id}(id=${item.id})}">
                                                    <img th:src="@{'/webdata/album/'+${service_plitem.findByPlaylistId(item.id).get(service_plitem.findByPlaylistId(item.id).size-1).song.album.image}}"  class="img-border-radius img-fluid w-100" alt="">
                                                </a>
                                                <a th:if="${service_plitem.findByPlaylistId(item.id).size==0}" href="">
                                                    <img src="http://localhost:8080/webdata/album/nothumbnail.jpg"  class="img-border-radius img-fluid w-100" alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5 th:if="${service_plitem.findByPlaylistId(item.id).size>0}" th:text="${item.name}"><a href="#" class="profile-link">Sophia Page</a></h5>
                                                <h5 th:if="${service_plitem.findByPlaylistId(item.id).size==0}" th:text="${item.name}"><a href="#" class="profile-link">Sophia Page</a></h5>
                                                <!--   <p>Software Engineer</p> -->
                                                <p class="text-muted" th:text="${service_plitem.findByPlaylistId(item.id).size+' songs'}">500m away</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <a th:if="${service_plitem.findByPlaylistId(item.id).size!=0}" th:href="@{/song/playlist/delete/{id}(id=${item.id})}" class="btn btn-primary pull-right">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p th:if="${session.user == null}" style="text-align: center;"><a th:href="@{/login}">You Must Login</a></p>
        </div>
    </body>
</html>
