<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between align-items-center">
                                <div class="iq-header-title">
                                    <h4 id="name" class="card-title">
                                        Promotion Gift Code (Only for buy Song)
                                    </h4>
                                </div>
                                <!--                                <div id="feature-album-slick-arrow" class="slick-aerrow-block">
                                                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <table class="data-tables table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 20%;">Title</th>
                                        <th style="width: 10%;">Discount (%)</th>
                                        <th style="width: 15%;">Start date</th> 
                                        <th style="width: 15%;">End date</th> 
                                        <th style="width: 15%;">State</th> 
                                        <th style="width: 15%;">Action</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${name=='null'}" th:each="item:${list}">
                                        <td th:text="${list.indexOf(item)+1}"></td>
                                        <td th:text="${item.title}"></td>
                                        <td th:text="${item.discount}"></td>
                                        <td th:text="${#dates.format(item.startDate,'dd-MM-yyyy')}"></td>
                                        <td th:text="${#dates.format(item.endDate,'dd-MM-yyyy')}"></td>
                                        <td th:text="${((item.startDate.getTime() - nowStartDate)>=0) ? 'Inactive' : ((item.endDate.getTime() - nowEndDate)>=0) ? 'Active' :'Expired'}">State</td>
                                        <td>
                                            <div  class="flex align-items-center list-user-action">
                                                <a th:if="${session.user!=null && (item.startDate.getTime() - nowStartDate)<0 && (item.endDate.getTime() - nowEndDate)>=0 } " class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Get Code" th:href="@{/promotion/getCode/{promotionId}/{userId} ( promotionId=${item.id} , userId=${session.user.id} )  }"><i class="ri-Muzik-2-line"></i></a>
                                            </div>
                                            <a th:if="${session.user==null}" class="bg-primary" th:href="@{/login}">You need login to get code</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
