<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Update Account</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <form th:action=${"/admin/account/save"} th:object="${account}" method="post">

                                    <input type="hidden"  th:field="${account.id}" />
                                    <input type="hidden"  th:field="${account.password}" />
                                    <div class="form-group">
                                        <label>Username:</label>
                                        <input type="text" th:field="${account.username}" class="form-control" readonly>
                                    </div>
                                    <div>
                                    <label>Full name:</label>
                                    <input type="text" th:field="${account.fullname}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>

                                        <select class="form-control" id="exampleFormControlSelect1" th:field="${account.role}">
                                            <option class="form-control" value="ROLE_USER" >User</option>
                                            <option class="form-control" value="ROLE_ADMIN">Admin</option>
                                            <option class="form-control" value="ROLE_MODERATOR">MOD</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
