<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Change Password Account</h4>
                                </div>
                            </div>
                            <div id="errormsg" style="display:none"></div>
                            <div class="iq-card-body">
                                <form th:action=${"/admin/account/processUpdatePassword"} th:object="${account}" method="post">

                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input id="oldpass" name="oldpassword" type="password" class="form-control"/>
                                    </div>
                                    <div>
                                        <label>New Password</label>
                                        <input id="pass" name="password" type="password" class="form-control"/>
                                    </div>
                                    <div>
                                        <label>Confirm Password</label>
                                        <input id="passConfirm" type="password" class="form-control"/> 
                                        <span id="error" style="display:none">Password mismatch</span>
                                    </div>
                                    <button type="submit" onclick="savePass()" class="btn btn-primary">Change Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var serverContext = [[@{/}]];
            function savePass() {
                var pass = $("#pass").val();
                var valid = pass == $("#passConfirm").val();
                if (!valid) {
                    $("#error").show();
                    return;
                }
                $.post(serverContext + "admin/updatePassword",
                        {password: pass, oldpassword: $("#oldpass").val()}, function (data) {
                    window.location.href = serverContext + "/admin/editPassword.html?message=" + data.message;
                })
                        .fail(function (data) {
                            $("#errormsg").show().html(data.responseJSON.message);
                        });
            }
        </script> 

    </body>
</html>
