<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    </head>
    <body>
        <div th:fragment="header" class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-menu-bt d-flex align-items-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                        <div class="iq-navbar-logo d-flex justify-content-between">
                            <a th:href="@{/}" class="header-logo">
                                <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
                                <div class="pt-2 pl-2 logo-title">
                                    <span class="text-primary text-uppercase">Music</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="list-unstyled iq-menu-top d-flex justify-content-between mb-0 p-0">
                            <li class="active"><a th:href="@{/song/16}">Home</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                            <li th:if="${(user != null) && (user.role=='ROLE_USER' || user.role=='ROLE_VIP')}"><a th:href="@{/product}">Product</a></li>
                            <li><a th:href="@{/news}">News</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto navbar-list">
                            <li class="nav-item nav-icon">
                                <div class="iq-search-bar">
                                    <form th:action="@{/result}" class="searchbox">
                                        <input type="text" name="searchname" class="text search-input" placeholder="Search Here..">
                                        <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                        <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item nav-icon search-content">
                                <a href="#" class="search-toggle iq-waves-effect text-gray rounded"><span class="ripple rippleEffect " ></span>
                                    <i class="ri-search-line text-black"></i>
                                </a>
                                <form th:action="@{/result}" class="search-box p-0">
                                    <input type="text" name="searchname" class="text search-input" placeholder="Type here to search...">
                                    <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                    <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                </form>
                            </li>

                            <div th:if="${session.user} == null">
                                <li class="mt-4 mb-0 p-0 mr-3">
                                    <a th:href="@{/login}" class="btn-outline-danger iq-waves-effect text-black rounded">
                                        <span class="">Login</span>
                                    </a>
                                </li>
                                <li class="mt-4 mb-0 p-0">
                                    <a th:href="@{/register}" class="btn-outline-danger iq-waves-effect text-black rounded">
                                        <span class="">Sign up</span>
                                    </a>
                                </li>
                            </div>
                            <div th:if="${session.user} != null">
                                
                                <li class="nav-item nav-icon">
                                    <a th:if="${session.user.role == 'ROLE_ADMIN' || session.user.role == 'ROLE_MODERATOR' || session.user.role == 'ROLE_EDITOR'}" th:href="@{/admin}" class="ml-lg-5 font-size-32 text-black rounded">
                                        <i class="las la-cog"></i>
                                        <span class=" dots"></span>
                                    </a>
                                </li>
                                <li class="nav-item nav-icon">
                                    <a  th:if="${(user != null) && (user.role=='ROLE_USER' || user.role=='ROLE_VIP')}" th:href="@{/cart/index}" class="ml-lg-5 font-size-32 text-black rounded">
                                        <i class="las la-shopping-cart"></i>
                                        <span class=" dots"></span><p th:text="${count}" style="color: tomato; "></p>
                                    </a>
                                </li>



                                <li class="mt-4 mb-0 p-0">
                                    <a href="#" th:if="${session.user.image!=null}" class="search-toggle iq-waves-effect d-flex align-items-center">
                                        <img  th:src="@{'/webdata/user/'+${session.user.image}}" class="img-fluid rounded-circle" alt="user"/>
                                    </a> 
                                    <a href="#" th:if="${session.user.image==null}" class="search-toggle iq-waves-effect d-flex align-items-center">
                                        <img th:if='${session.imageUrlAvatar == null || session.user.provider ==null || session.user.provider == "" }' th:src="@{/admintemplate/images/user/user-default2.png}" class="img-fluid rounded-circle" alt="user"/>
                                        <img  th:if="${session.user.provider == 'Google'}"  th:src="@{/admintemplate/images/user/imagesGG.png}" class="img-fluid rounded-circle" alt="user"/>
                                    </a>



                                    <div class="iq-sub-dropdown iq-user-dropdown">
                                        <div class="iq-card shadow-none m-0">
                                            <div th:object="${session.user}"  class="iq-card-body p-0 ">
                                                <div class="bg-primary p-3"> 
                                                    <!--<h5 class="mb-0 text-white line-height">Hello <span sec:authentication="name"></span></h5>-->
                                                    <h5 class="mb-0 text-white line-height">Hello <span th:text="*{fullname}">Name</span></h5>
                                                </div>
                                                <a th:href="@{/user/profile/{id} (id=*{id}) }"  class="iq-sub-card iq-bg-primary-hover">
                                                    <div class="media align-items-center">
                                                        <div class="rounded iq-card-icon iq-bg-primary">
                                                            <i class="ri-file-user-line"></i>
                                                        </div>
                                                        <div class="media-body ml-3">
                                                            <h6 class="mb-0 ">My Profile</h6>
                                                            <p class="mb-0 font-size-12">View personal profile details.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-inline-block w-100 text-center p-3">
                                                    <a class="bg-primary iq-sign-btn" th:href="@{/logout}" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                            </div>



                     
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>