<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head>
    </head>
    <body>
        <div th:fragment="header" class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-menu-bt d-flex align-items-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                        <div class="iq-navbar-logo d-flex justify-content-between">
                            <a th:href="@{/}" class="header-logo">
                                <img th:src="@{/admintemplate/images/logo.png}" class="img-fluid rounded-normal" alt="">
                                <div class="pt-2 pl-2 logo-title">
                                    <span class="text-primary text-uppercase">Muzik</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="list-unstyled iq-menu-top d-flex justify-content-between mb-0 p-0">
                            <li class="active"><a th:href="@{/song/16}">Home</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                            <li><a th:href="@{/product}">Product</a></li>
                            <li><a th:href="@{/news}">News</a></li>
                            <li th:if="${(user != null) && (user.role=='ROLE_USER' || user.role=='ROLE_VIP')}"><a th:href="@{/order}">Order history</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto navbar-list">
                            <li class="nav-item nav-icon">
                                <!--        <div class="iq-search-bar">
                                           <form action="#" class="searchbox">
                                              <input type="text" class="text search-input" placeholder="Search Here..">
                                              <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                              <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                           </form>
                                        </div> -->
                            </li>
                            <li class="nav-item nav-icon search-content">
                                <a href="#" class="search-toggle iq-waves-effect text-gray rounded"><span class="ripple rippleEffect " ></span>
                                    <i class="ri-search-line text-black"></i>
                                </a>
                                <form action="#" class="search-box p-0">
                                    <input type="text" class="text search-input" placeholder="Type here to search...">
                                    <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                    <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                </form>
                            </li>
                            <li class="nav-item nav-icon">
                                <a th:if="${session.user.role == 'ROLE_ADMIN' || session.user.role == 'ROLE_MODERATOR' || session.user.role == 'ROLE_EDITOR'}" th:href="@{/admin}" class="ml-lg-5 font-size-32 text-black rounded">
                                    <i class="las la-cog"></i>
                                    <span class=" dots"></span>
                                </a>
                            </li>

                            <li class="line-height pt-3">
                                <a href="#" th:if="${session.user.image!=null}" class="search-toggle iq-waves-effect d-flex align-items-center">
                                    <img  th:src="@{'/webdata/user/'+${session.user.image}}" class="img-fluid rounded-circle" alt="user"/>
                                </a> 
                                <a href="#" th:if="${session.user.image==null}" class="search-toggle iq-waves-effect d-flex align-items-center">
                                    <img th:if='${session.imageUrlAvatar == null}' th:src="@{/admintemplate/images/user/user-default2.png}" class="img-fluid rounded-circle" alt="user"/>
                                    <img th:if="${session.user.provider == 'Google'}" th:src="@{/admintemplate/images/user/imagesGG.png}" class="img-fluid rounded-circle" alt="user"/>
                                </a>
                                <!--                                
                                                                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                                                    <img th:if="${session.user.image==null}" th:src="@{/admintemplate/images/user/user-default1.png}" class="img-fluid rounded-circle" alt="user">
                                
                                                                    <img th:if="${session.user.image!=null}" th:src="@{'/webdata/user/'+${session.user.image}}" class="img-fluid rounded-circle" alt="user">
                                                                </a>-->
                                <div class="iq-sub-dropdown iq-user-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div sec:authorize="isAuthenticated()" class="bg-primary p-3">
                                                <!--<h5 class="mb-0 text-white line-height">Hello <span sec:authentication="name">Username</span></h5>-->
                                                 <h5 class="mb-0 text-white line-height">Hello <span th:text="${session.user.fullname}">Name</span></h5>
                                                <h5 class="mb-0 text-white line-height" th:if="${session.user.role=='ROLE_VIP'}">Role <span th:text="${session.user.role=='ROLE_VIP'?'VIP':'USER'}">Vip</span> </h5>
                                                <h5 class="mb-0 text-white line-height" th:if='${session.expireTimeVip!=null}'>Duration <span th:text="${#dates.format(session.expireTimeVip,'dd-MM-yyyy')}">30-12-2022</span> </h5>

                                                <!--<span sec:authentication="principal.authorities" class="text-white font-size-12">Roles</span>-->
                                            </div>
                                            <div >
                                                <a  sec:authorize="hasAnyRole('ADMIN','MODERATOR','EDITOR')" th:href="@{/user/profile/{id} (id=${session.user.id}) }" class="iq-sub-card iq-bg-primary-hover">
                                                    <div class="media align-items-center">
                                                        <div class="rounded iq-card-icon iq-bg-primary">
                                                            <i class="ri-file-user-line"></i>
                                                        </div>
                                                        <div class="media-body ml-3">
                                                            <h6 class="mb-0 ">My Profile</h6>
                                                            <p class="mb-0 font-size-12">View personal profile details.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a sec:authorize="hasAnyRole('USER')" th:href="@{/user/profile/{id} (id=*{id}) }"  class="iq-sub-card iq-bg-primary-hover">
                                                    <div class="media align-items-center">
                                                        <div class="rounded iq-card-icon iq-bg-primary">
                                                            <i class="ri-file-user-line"></i>
                                                        </div>
                                                        <div class="media-body ml-3">
                                                            <h6 class="mb-0 ">My Profile</h6>
                                                            <p class="mb-0 font-size-12">View personal profile details.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!--                                  
                                                                             <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                                                                                <div class="media align-items-center">
                                                                                   <div class="rounded iq-card-icon iq-bg-primary">
                                                                                      <i class="ri-profile-line"></i>
                                                                                   </div>
                                                                                   <div class="media-body ml-3">
                                                                                      <h6 class="mb-0 ">Edit Password</h6>
                                                                                      <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                                                      <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" th:href="@{/admin/account/update/{username}(username=${#httpServletRequest.getUserPrincipal().getName()})}">Profile</a>
                                                                                   </div>
                                                                                </div>
                                                                             </a>
                                                                             <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                                                                <div class="media align-items-center">
                                                                                   <div class="rounded iq-card-icon iq-bg-primary">
                                                                                      <i class="ri-account-box-line"></i>
                                                                                   </div>
                                                                                   <div class="media-body ml-3">
                                                                                      <h6 class="mb-0 ">Account settings</h6>
                                                                                      <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                                                                   </div>
                                                                                </div>
                                                                             </a>
                                                                             <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                                                                <div class="media align-items-center">
                                                                                   <div class="rounded iq-card-icon iq-bg-primary">
                                                                                      <i class="ri-lock-line"></i>
                                                                                   </div>
                                                                                   <div class="media-body ml-3">
                                                                                      <h6 class="mb-0 ">Privacy Settings</h6>
                                                                                      <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                                                                   </div>
                                                                                </div>
                                                                             </a>
                                            -->
                                            <div class="d-inline-block w-100 text-center p-3">
                                                <a class="bg-primary iq-sign-btn" th:href="@{/logout}" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>