<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">News details</h4>
                                </div>
                            </div>
                            <div class="article" th:each="item:${list}">


                                <h1 class="article__title cms-title" th:text="${item.title}">
                                    
                                </h1>
                                <div class="article__meta">


                                    <time class="time" datetime="2022-07-26T10:17:07+0700" data-time="1658805427" data-gmt="true" th:text="${item.created_at}"></time>
                                    <meta class="cms-date" itemprop="datePublished" content="2022-07-26T10:17:07+0700">
                                </div>

                                <div class="article__sapo cms-desc" th:text="${item.content}">
                                    
                                </div>

                                <div id="adsWeb_AdsArticleAfterSapo" class="banner clearfix" data-platform="1" data-position="Web_AdsArticleAfterSapo" style="display: none;">
                                    <script>
                                        if (typeof Web_AdsArticleAfterSapo != 'undefined') {
                                            window.CMS_BANNER.pushAds(Web_AdsArticleAfterSapo, 'adsWeb_AdsArticleAfterSapo');
                                        } else {
                                            document.getElementById('adsWeb_AdsArticleAfterSapo').style.display = "none";
                                        }
                                    </script>
                                </div>



                                <table class="picture ">
                                    <tbody>
                                        <tr>
                                            <td class="pic">
                                                <img class="cms-photo" th:src="@{'/webdata/news/'+${item.image}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="caption" th:text="${item.img_title}"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div id="adsWeb_AdsArticleAfterAvatar" class="banner clearfix" data-platform="1" data-position="Web_AdsArticleAfterAvatar" style="display: none;">
                                    <script>
                                        if (typeof Web_AdsArticleAfterAvatar != 'undefined') {
                                            window.CMS_BANNER.pushAds(Web_AdsArticleAfterAvatar, 'adsWeb_AdsArticleAfterAvatar');
                                        } else {
                                            document.getElementById('adsWeb_AdsArticleAfterAvatar').style.display = "none";
                                        }
                                    </script>
                                </div>
                                <div class="article__body cms-body" itemprop="articleBody">
                                    <p style="text-align: justify;" th:text="${item.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
