<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xlmns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
            :root {
                --primary-color: #009e6c;
                --border-color: #eee;
            }
            .dropdown {
                position: relative;
            }

            .dropdown__selected {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                padding: 0 20px 0 10px;
                font-size: 14px;
                border: 1px solid var(--border-color);
                position: relative;
                cursor: pointer;
                transition: box-shadow .3s ease;
            }

            .dropdown__selected::after {
                top: calc(50% - 2px);
                right: 10px;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                border-top-color:#000;
                border-width: 4px;
                margin-left: -4px;
            }

            .dropdown__selected:hover {
                box-shadow: 0 0 5px rgba(0,0,0,0.1);
            }

            .dropdown__menu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                border: 1px solid var(--border-color);
                border-top: 0;
                background-color: #fff;
                z-index: 5;
                display: none;
            }

            .dropdown__menu_items {
                max-height: 210px;
                overflow-y: auto;
            }

            .dropdown__menu_search {
                display: block;
                width: 100%;
                border: 0;
                border-bottom: 1px solid var(--border-color);
                padding: 12px;
                outline: 0;
                background-color: #f9f9f9;
            }

            .dropdown__menu_item {
                padding: 10px;
                border-bottom: 1px solid var(--border-color);
                font-size: 14px;
                cursor: pointer;
            }

            .dropdown__menu_item:last-child {
                border-bottom: 0;
            }

            .dropdown__menu_item:hover {

            }

            .dropdown__menu_item.selected,
            .dropdown__menu_item.selected:hover {

            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Add Subtitle</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <form th:action=${"/admin/subtitle/save"} th:object="${subtitle}" method="post" enctype="multipart/form-data">
                                    <input type="hidden"  th:field="${subtitle.id}" />
                                    <input type="hidden"  th:field="${subtitle.songId}" />
                                    <div class="form-group">
                                        <label>Language Subtitle:</label>
                                        <select class="form-control" id="country" name="country" th:field="${subtitle.name}" data-dropdown>
                                            <option th:value="null">Please select a country</option>
                                            <option th:value="Afganistan">Afghanistan</option>
                                            <option th:value="Albania">Albania</option>
                                            <option th:value="Algeria">Algeria</option>
                                            <option th:value="American">American</option>
                                            <option th:value="Andorra">Andorra</option>
                                            <option th:value="Angola">Angola</option>
                                            <option th:value="Anguilla">Anguilla</option>
                                            <option th:value="AntiguaBarbuda">Antigua & Barbuda</option>
                                            <option th:value="Argentina">Argentina</option>
                                            <option th:value="Armenia">Armenia</option>
                                            <option th:value="Aruba">Aruba</option>
                                            <option th:value="Australia">Australia</option>
                                            <option th:value="Austria">Austria</option>
                                            <option th:value="Azerbaijan">Azerbaijan</option>
                                            <option th:value="Bahamas">Bahamas</option>
                                            <option th:value="Bahrain">Bahrain</option>
                                            <option th:value="Bangladesh">Bangladesh</option>
                                            <option th:value="Barbados">Barbados</option>
                                            <option th:value="Belarus">Belarus</option>
                                            <option th:value="Belgium">Belgium</option>
                                            <option th:value="Belize">Belize</option>
                                            <option th:value="Benin">Benin</option>
                                            <option th:value="Bermuda">Bermuda</option>
                                            <option th:value="Bhutan">Bhutan</option>
                                            <option th:value="Bolivia">Bolivia</option>
                                            <option th:value="Bonaire">Bonaire</option>
                                            <option th:value="BosniaHerzegovina">Bosnia & Herzegovina</option>
                                            <option th:value="Botswana">Botswana</option>
                                            <option th:value="Brazil">Brazil</option>
                                            <option th:value="BritishIndianOceanTer">British Indian Ocean Ter</option>
                                            <option th:value="Brunei">Brunei</option>
                                            <option th:value="Bulgaria">Bulgaria</option>
                                            <option th:value="BurkinaFaso">Burkina Faso</option>
                                            <option th:value="Burundi">Burundi</option>
                                            <option th:value="Cambodia">Cambodia</option>
                                            <option th:value="Cameroon">Cameroon</option>
                                            <option th:value="Canada">Canada</option>
                                            <option th:value="CanaryIslands">Canary Islands</option>
                                            <option th:value="CapeVerde">Cape Verde</option>
                                            <option th:value="CaymanIslands">Cayman Islands</option>
                                            <option th:value="CentralAfricanRepublic">Central African Republic</option>
                                            <option th:value="Chad">Chad</option>
                                            <option th:value="ChannelIslands">Channel Islands</option>
                                            <option th:value="Chile">Chile</option>
                                            <option th:value="China">China</option>
                                            <option th:value="ChristmasIsland">Christmas Island</option>
                                            <option th:value="CocosIsland">Cocos Island</option>
                                            <option th:value="Colombia">Colombia</option>
                                            <option th:value="Comoros">Comoros</option>
                                            <option th:value="Congo">Congo</option>
                                            <option th:value="CookIslands">Cook Islands</option>
                                            <option th:value="CostaRica">Costa Rica</option>
                                            <option th:value="CoteDIvoire">Cote DIvoire</option>
                                            <option th:value="Croatia">Croatia</option>
                                            <option th:value="Cuba">Cuba</option>
                                            <option th:value="Curaco">Curacao</option>
                                            <option th:value="Cyprus">Cyprus</option>
                                            <option th:value="CzechRepublic">Czech Republic</option>
                                            <option th:value="Denmark">Denmark</option>
                                            <option th:value="Djibouti">Djibouti</option>
                                            <option th:value="Dominica">Dominica</option>
                                            <option th:value="DominicanRepublic">Dominican Republic</option>
                                            <option th:value="EastTimor">East Timor</option>
                                            <option th:value="Ecuador">Ecuador</option>
                                            <option th:value="Egypt">Egypt</option>
                                            <option th:value="ElSalvador">El Salvador</option>
                                            <option th:value="EquatorialGuinea">Equatorial Guinea</option>
                                            <option th:value="Eritrea">Eritrea</option>
                                            <option th:value="Estonia">Estonia</option>
                                            <option th:value="English">English</option>
                                            <option th:value="Ethiopia">Ethiopia</option>
                                            <option th:value="FalklandIslands">Falkland Islands</option>
                                            <option th:value="FaroeIslands">Faroe Islands</option>
                                            <option th:value="Fiji">Fiji</option>
                                            <option th:value="Finland">Finland</option>
                                            <option th:value="France">France</option>
                                            <option th:value="FrenchGuiana">French Guiana</option>
                                            <option th:value="FrenchPolynesia">French Polynesia</option>
                                            <option th:value="FrenchSouthernTer">French Southern Ter</option>
                                            <option th:value="Gabon">Gabon</option>
                                            <option th:value="Gambia">Gambia</option>
                                            <option th:value="Georgia">Georgia</option>
                                            <option th:value="Germany">Germany</option>
                                            <option th:value="Ghana">Ghana</option>
                                            <option th:value="Gibraltar">Gibraltar</option>
                                            <option th:value="GreatBritain">Great Britain</option>
                                            <option th:value="Greece">Greece</option>
                                            <option th:value="Greenland">Greenland</option>
                                            <option th:value="Grenada">Grenada</option>
                                            <option th:value="Guadeloupe">Guadeloupe</option>
                                            <option th:value="Guam">Guam</option>
                                            <option th:value="Guatemala">Guatemala</option>
                                            <option th:value="Guinea">Guinea</option>
                                            <option th:value="Guyana">Guyana</option>
                                            <option th:value="Haiti">Haiti</option>
                                            <option th:value="Hawaii">Hawaii</option>
                                            <option th:value="Honduras">Honduras</option>
                                            <option th:value="HongKong">Hong Kong</option>
                                            <option th:value="Hungary">Hungary</option>
                                            <option th:value="Iceland">Iceland</option>
                                            <option th:value="Indonesia">Indonesia</option>
                                            <option th:value="India">India</option>
                                            <option th:value="Iran">Iran</option>
                                            <option th:value="Iraq">Iraq</option>
                                            <option th:value="Ireland">Ireland</option>
                                            <option th:value="IsleofMan">Isle of Man</option>
                                            <option th:value="Israel">Israel</option>
                                            <option th:value="Italy">Italy</option>
                                            <option th:value="Jamaica">Jamaica</option>
                                            <option th:value="Japan">Japan</option>
                                            <option th:value="Jordan">Jordan</option>
                                            <option th:value="Kazakhstan">Kazakhstan</option>
                                            <option th:value="Kenya">Kenya</option>
                                            <option th:value="Kiribati">Kiribati</option>
                                            <option th:value="KoreaNorth">Korea North</option>
                                            <option th:value="KoreaSout">Korea South</option>
                                            <option th:value="Kuwait">Kuwait</option>
                                            <option th:value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option th:value="Laos">Laos</option>
                                            <option th:value="Latvia">Latvia</option>
                                            <option th:value="Lebanon">Lebanon</option>
                                            <option th:value="Lesotho">Lesotho</option>
                                            <option th:value="Liberia">Liberia</option>
                                            <option th:value="Libya">Libya</option>
                                            <option th:value="Liechtenstein">Liechtenstein</option>
                                            <option th:value="Lithuania">Lithuania</option>
                                            <option th:value="Luxembourg">Luxembourg</option>
                                            <option th:value="Macau">Macau</option>
                                            <option th:value="Macedonia">Macedonia</option>
                                            <option th:value="Madagascar">Madagascar</option>
                                            <option th:value="Malaysia">Malaysia</option>
                                            <option th:value="Malawi">Malawi</option>
                                            <option th:value="Maldives">Maldives</option>
                                            <option th:value="Mali">Mali</option>
                                            <option th:value="Malta">Malta</option>
                                            <option th:value="MarshallIslands">Marshall Islands</option>
                                            <option th:value="Martinique">Martinique</option>
                                            <option th:value="Mauritania">Mauritania</option>
                                            <option th:value="Mauritius">Mauritius</option>
                                            <option th:value="Mayotte">Mayotte</option>
                                            <option th:value="Mexico">Mexico</option>
                                            <option th:value="MidwayIslands">Midway Islands</option>
                                            <option th:value="Moldova">Moldova</option>
                                            <option th:value="Monaco">Monaco</option>
                                            <option th:value="Mongolia">Mongolia</option>
                                            <option th:value="Montserrat">Montserrat</option>
                                            <option th:value="Morocco">Morocco</option>
                                            <option th:value="Mozambique">Mozambique</option>
                                            <option th:value="Myanmar">Myanmar</option>
                                            <option th:value="Nambia">Nambia</option>
                                            <option th:value="Nauru">Nauru</option>
                                            <option th:value="Nepal">Nepal</option>
                                            <option th:value="NetherlandAntilles">Netherland Antilles</option>
                                            <option th:value="Netherlands">Netherlands (Holland, Europe)</option>
                                            <option th:value="Nevis">Nevis</option>
                                            <option th:value="NewCaledonia">New Caledonia</option>
                                            <option th:value="NewZealand">New Zealand</option>
                                            <option th:value="Nicaragua">Nicaragua</option>
                                            <option th:value="Niger">Niger</option>
                                            <option th:value="Nigeria">Nigeria</option>
                                            <option th:value="Niue">Niue</option>
                                            <option th:value="NorfolkIsland">Norfolk Island</option>
                                            <option th:value="Norway">Norway</option>
                                            <option th:value="Oman">Oman</option>
                                            <option th:value="Pakistan">Pakistan</option>
                                            <option th:value="PalauIsland">Palau Island</option>
                                            <option th:value="Palestine">Palestine</option>
                                            <option th:value="Panama">Panama</option>
                                            <option th:value="PapuaNewGuinea">Papua New Guinea</option>
                                            <option th:value="Paraguay">Paraguay</option>
                                            <option th:value="Peru">Peru</option>
                                            <option th:value="Phillipines">Philippines</option>
                                            <option th:value="PitcairnIsland">Pitcairn Island</option>
                                            <option th:value="Poland">Poland</option>
                                            <option th:value="Portugal">Portugal</option>
                                            <option th:value="PuertoRico">Puerto Rico</option>
                                            <option th:value="Qatar">Qatar</option>
                                            <option th:value="RepublicofMontenegro">Republic of Montenegro</option>
                                            <option th:value="RepublicofSerbia">Republic of Serbia</option>
                                            <option th:value="Reunion">Reunion</option>
                                            <option th:value="Romania">Romania</option>
                                            <option th:value="Russia">Russia</option>
                                            <option th:value="Rwanda">Rwanda</option>
                                            <option th:value="StBarthelemy">St Barthelemy</option>
                                            <option th:value="StEustatius">St Eustatius</option>
                                            <option th:value="StHelena">St Helena</option>
                                            <option th:value="StKittsNevis">St Kitts-Nevis</option>
                                            <option th:value="StLucia">St Lucia</option>
                                            <option th:value="StMaarten">St Maarten</option>
                                            <option th:value="StPierreMiquelon">St Pierre & Miquelon</option>
                                            <option th:value="StVincentGrenadines">St Vincent & Grenadines</option>
                                            <option th:value="Saipan">Saipan</option>
                                            <option th:value="Samoa">Samoa</option>
                                            <option th:value="SamoaAmerican">Samoa American</option>
                                            <option th:value="SanMarino">San Marino</option>
                                            <option th:value="SaoTomePrincipe">Sao Tome & Principe</option>
                                            <option th:value="SaudiArabia">Saudi Arabia</option>
                                            <option th:value="Senegal">Senegal</option>
                                            <option th:value="Seychelles">Seychelles</option>
                                            <option th:value="SierraLeone">Sierra Leone</option>
                                            <option th:value="Singapore">Singapore</option>
                                            <option th:value="Slovakia">Slovakia</option>
                                            <option th:value="Slovenia">Slovenia</option>
                                            <option th:value="SolomonIslands">Solomon Islands</option>
                                            <option th:value="Somalia">Somalia</option>
                                            <option th:value="SouthAfrica">South Africa</option>
                                            <option th:value="Spain">Spain</option>
                                            <option th:value="SriLanka">Sri Lanka</option>
                                            <option th:value="Sudan">Sudan</option>
                                            <option th:value="Suriname">Suriname</option>
                                            <option th:value="Swaziland">Swaziland</option>
                                            <option th:value="Sweden">Sweden</option>
                                            <option th:value="Switzerland">Switzerland</option>
                                            <option th:value="Syria">Syria</option>
                                            <option th:value="Tahiti">Tahiti</option>
                                            <option th:value="Taiwan">Taiwan</option>
                                            <option th:value="Tajikistan">Tajikistan</option>
                                            <option th:value="Tanzania">Tanzania</option>
                                            <option th:value="Thailand">Thailand</option>
                                            <option th:value="Togo">Togo</option>
                                            <option th:value="Tokelau">Tokelau</option>
                                            <option th:value="Tonga">Tonga</option>
                                            <option th:value="TrinidadTobago">Trinidad & Tobago</option>
                                            <option th:value="Tunisia">Tunisia</option>
                                            <option th:value="Turkey">Turkey</option>
                                            <option th:value="Turkmenistan">Turkmenistan</option>
                                            <option th:value="TurksCaicosIs">Turks & Caicos Is</option>
                                            <option th:value="Tuvalu">Tuvalu</option>
                                            <option th:value="Uganda">Uganda</option>
                                            <option th:value="UnitedKingdom">United Kingdom</option>
                                            <option th:value="Ukraine">Ukraine</option>
                                            <option th:value="UnitedArabErimates">United Arab Emirates</option>
                                            <option th:value="UnitedStatesofAmerica">United States of America</option>
                                            <option th:value="Uraguay">Uruguay</option>
                                            <option th:value="Uzbekistan">Uzbekistan</option>
                                            <option th:value="Vanuatu">Vanuatu</option>
                                            <option th:value="VaticanCityState">Vatican City State</option>
                                            <option th:value="Venezuela">Venezuela</option>
                                            <option th:value="Vietnam">Vietnam</option>
                                            <option th:value="VirginIslandsBrit">Virgin Islands (Brit)</option>
                                            <option th:value="USA">Virgin Islands (USA)</option>
                                            <option th:value="WakeIsland">Wake Island</option>
                                            <option th:value="WallisFutanaIs">Wallis & Futana Is</option>
                                            <option th:value="Yemen">Yemen</option>
                                            <option th:value="Zaire">Zaire</option>
                                            <option th:value="Zambia">Zambia</option>
                                            <option th:value="Zimbabwe">Zimbabwe</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Subtitle File(.vtt):</label>
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>     
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                // Get dropdowns and form
                const dropdowns = document.querySelectorAll('[data-dropdown]');
                const form = document.querySelector('form');

// Check if dropdowns exist on page
                if (dropdowns.length > 0) {
                    // Loop through dropdowns and create custom dropdown for each select element
                    dropdowns.forEach(dropdown => {
                        createCustomDropdown(dropdown);
                    });
                }

// Check if form element exist on page
                if (form !== null) {
                    // When form is submitted console log the value of the select field
                    form.addEventListener('submit', (e) => {
                        e.preventDefault();
                        console.log('Selected country:', form.querySelector('[name="country"]').value);
                    });
                }

// Create custom dropdown
                function createCustomDropdown(dropdown) {
                    // Get all options and convert them from nodelist to array
                    const options = dropdown.querySelectorAll('option');
                    const optionsArr = Array.prototype.slice.call(options);

                    // Create custom dropdown element and add class dropdown to it
                    // Insert it in the DOM after the select field
                    const customDropdown = document.createElement('div');
                    customDropdown.classList.add('dropdown');
                    dropdown.insertAdjacentElement('afterend', customDropdown);

                    // Create element for selected option
                    // Add class to this element, text from the first option in select field and append it to custom dropdown
                    const selected = document.createElement('div');
                    selected.classList.add('dropdown__selected');
                    selected.textContent = optionsArr[0].textContent;
                    customDropdown.appendChild(selected);

                    // Create element for dropdown menu, add class to it and append it to custom dropdown
                    // Add click event to selected element to toggle dropdown menu
                    const menu = document.createElement('div');
                    menu.classList.add('dropdown__menu');
                    customDropdown.appendChild(menu);
                    selected.addEventListener('click', toggleDropdown.bind(menu));

                    // Create serach input element
                    // Add class, type and placeholder to this element and append it to menu element
                    const search = document.createElement('input');
                    search.placeholder = 'Search...';
                    search.type = 'text';
                    search.classList.add('dropdown__menu_search');
                    menu.appendChild(search);

                    // Create wrapper element for menu items, add class to it and append to menu element
                    const menuItemsWrapper = document.createElement('div');
                    menuItemsWrapper.classList.add('dropdown__menu_items');
                    menu.appendChild(menuItemsWrapper);

                    // Loop through all options and create custom option for each option and append it to items wrapper element
                    // Add click event for each custom option to set clicked option as selected option
                    optionsArr.forEach(option => {
                        const item = document.createElement('div');
                        item.classList.add('dropdown__menu_item');
                        item.dataset.value = option.value;
                        item.textContent = option.textContent;
                        menuItemsWrapper.appendChild(item);

                        item.addEventListener('click', setSelected.bind(item, selected, dropdown, menu));
                    });

                    // Add selected class to first custom option
                    menuItemsWrapper.querySelector('div').classList.add('selected');

                    // Add input event to search input element to filter items
                    // Add click event to document element to close custom dropdown if clicked outside of it
                    // Hide original dropdown(select)
                    search.addEventListener('input', filterItems.bind(search, optionsArr, menu));
                    document.addEventListener('click', closeIfClickedOutside.bind(customDropdown, menu));
                    dropdown.style.display = 'none';
                }

// Toggle dropdown
                function toggleDropdown() {
                    // Check if dropdown is opened and if it is close it, otherwise open it and focus search input
                    if (this.offsetParent !== null) {
                        this.style.display = 'none';
                    } else {
                        this.style.display = 'block';
                        this.querySelector('input').focus();
                    }
                }

// Set selected option
                function setSelected(selected, dropdown, menu) {
                    // Get value and label from clicked custom option
                    const value = this.dataset.value;
                    const label = this.textContent;

                    // Change the text on selected element
                    // Change the value on select field
                    selected.textContent = label;
                    dropdown.value = value;

                    // Close the menu
                    // Reset search input value
                    // Remove selected class from previously selected option and show all divs if they were filtered
                    // Add selected class to clicked option
                    menu.style.display = 'none';
                    menu.querySelector('input').value = '';
                    menu.querySelectorAll('div').forEach(div => {
                        if (div.classList.contains('selected')) {
                            div.classList.remove('selected');
                        }
                        if (div.offsetParent === null) {
                            div.style.display = 'block';
                        }
                    });
                    this.classList.add('selected');
                }

// Filter items
                function filterItems(itemsArr, menu) {
                    // Get all custom options
                    // Get the value of search input and convert it to all lowercase characters
                    // Get filtered items
                    // Get the indexes of filtered items
                    const customOptions = menu.querySelectorAll('.dropdown__menu_items div');
                    const value = this.value.toLowerCase();
                    const filteredItems = itemsArr.filter(item => item.value.toLowerCase().includes(value));
                    const indexesArr = filteredItems.map(item => itemsArr.indexOf(item));

                    // Check if option is not inside indexes array and hide it and if it is inside indexes array and it is hidden show it
                    itemsArr.forEach(option => {
                        if (!indexesArr.includes(itemsArr.indexOf(option))) {
                            customOptions[itemsArr.indexOf(option)].style.display = 'none';
                        } else {
                            if (customOptions[itemsArr.indexOf(option)].offsetParent === null) {
                                customOptions[itemsArr.indexOf(option)].style.display = 'block';
                            }
                        }
                    });
                }

// Close dropdown if clicked outside dropdown element
                function closeIfClickedOutside(menu, e) {
                    if (e.target.closest('.dropdown') === null && e.target !== this && menu.offsetParent !== null) {
                        menu.style.display = 'none';
                    }
                }
            </script>
        </div>
    </body>
</html>
