<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content" id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between align-items-center">
                                <div class="iq-header-title">
                                    <h4 class="card-title">My Playlists</h4>
                                </div>
                                <div id="feature-album-slick-arrow" class="slick-aerrow-block"></div>
                            </div>
                            <div class="iq-card-body">
                                <ul class="list-unstyled row  feature-album iq-box-hover mb-0">
                                    <li class="iq-music-box" th:if="${service_pl.findByAccountId(session.user.id).size > 0}" th:each="item:${service_pl.findByAccountId(session.user.id)}">
                                        <div class="iq-card mb-0">
                                            <div class="iq-card-body p-0">
                                                <div class="iq-thumb">
                                                    <div class="iq-music-overlay"></div>
                                                    <a th:href="@{/song/playlist/{id}(id=${item.id})}">
                                                        <img th:if="${service_plitem.findByPlaylistId(item.id).size>0}" th:src="@{'/webdata/album/'+${service_plitem.findByPlaylistId(item.id).get(0).song.album.image}}"  class="img-border-radius img-fluid w-100" alt="">
                                                        <img th:if="${service_plitem.findByPlaylistId(item.id).size==0}" th:src="@{'lbum/'+${service_plitem.findByPlaylistId(item.id).get(0).song.album.image}}"  class="img-border-radius img-fluid w-100" alt="">
                                                    </a>
                                                    <div class="overlay-music-icon">
                                                        <a th:href="@{/song/playlist/{id}(id=${item.id})}">
                                                            <i class="las la-play-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="feature-list text-center">
                                                    <h6 class="font-weight-600 mb-0" th:if="${service_plitem.findByPlaylistId(item.id).size>0}" th:text="${item.name}">Doja Cat</h6>
                                                    <h6 class="font-weight-600 mb-0" th:if="${service_plitem.findByPlaylistId(item.id).size==0}">No Songs</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p th:if="${service_pl.findByAccountId(session.user.id).size == 0}">You Don't Have Playlists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
