<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments :: html_head">

</head>

<body class="sb-nav-fixed">
<nav th:replace="admin/fragments :: html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

</nav>
<div  id="layoutSidenav">
  <div th:replace="admin/fragments :: html_menu" id="layoutSidenav_nav">

  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Product</h1>
        <ol class="breadcrumb mb-4">
        </ol>

        <div class="card mb-4">
          <div class="card-header">
            <div th:if="${msg == '1'}" class="alert alert-success">
              <strong>Successful!</strong>
            </div>
            <div th:if="${msg == '2'}" class="alert alert-danger">
              <strong>Product already exists !</strong>
            </div>
            <button type="button" class="btn btn-success" style="width: 100px" data-bs-toggle="modal"
                    data-bs-target="#exampleModalAdd">
              Create
            </button>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
              <tr style="background-color: gray !important;">
                <th>NO</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Discount</th>
                <th>Description</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr>

              </tr>
              </tfoot>
              <tbody>
              <input type="hidden" th:value="${products.size()}" id="dodai" />
              <th:block th:each="product,index : ${products}">
                <tr>
                  <td th:text="${index.index +1}"></td>
                  <td th:text="${product.name}"></td>
                  <td ><img style="width: 150px; height: 200px" th:src="'/resources/uploads/' + ${product.image}"></td>
                  <td th:text="${product.price} + ' $'"></td>
                  <td th:text="${product.quantity}"></td>
                  <td th:text="${product.category.name}"></td>
                  <td th:text="${product.discount} + '%'"></td>
                  <td  ><a data-bs-toggle="modal"
                          th:data-bs-target="'#exampleDes'+${product.id}" href="">Detail</a></td>
                  <td>
                    <button style="width: 100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#exampleModal'+${product.id}">
                      Update
                    </button>
                    <a style="width: 100px" th:href="'product/delete/'+ ${product.id}" class="btn btn-danger">
                      Delete
                    </a>
                  </td>
                </tr>
                <!-- Modal Update-->
                <div class="modal fade" th:id="'exampleModal'+${product.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form th:action="'/admin/product/update/'+${product.id}" method="post" enctype="multipart/form-data">
                          <div class="row">
                            <div class="col-6">
                              <div class="">
                                <label  class="col-form-label">Name product<span style="color: red">(*)</span>:</label>
                                <input type="text" name="name" th:value="${product.name}" class="form-control" required>
                                <input type="hidden" name="productId" th:value="${product.id}" class="form-control" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Price<span style="color: red">(*)</span>:</label>
                                <input type="number" name="price" th:value="${product.price}" class="form-control" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Quantity<span style="color: red">(*)</span>:</label>
                                <input type="number" name="quantity" th:value="${product.quantity}" class="form-control" required>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="">
                                <label  class="col-form-label">Image<span style="color: red">(*)</span>:</label><br>
                                <input type="file" name="file" class="form-control" >
                              </div>
                              <div class="">
                                <label  class="col-form-label">Discount (%):</label><br>
                                <input type="number" min="1" max="100" name="discount" th:value="${product.discount}" class="form-control" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Category<span style="color: red">(*)</span>:</label><br>
                                <select class="form-control" name="categoryId" required>
                                  <option th:value="${product.category.id}" th:text="${product.category.name}">--Choose category--</option>
                                  <th:block th:each="category,index : ${categorys}">
                                    <option th:value="${category.id}" th:text="${category.name}"></option>
                                  </th:block>
                                </select>
                              </div>

                            </div>
                          </div>
                          <div class="col-12">
                            <label  class="col-form-label">Description<span style="color: red">(*)</span>:</label><br>
                            <textarea name="description" th:id="'editor'+${product.id}" cols="30"
                                      rows="30" th:utext="${product.description}"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" style="width:100px" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" style="width:100px" class="btn btn-primary">Update</button>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Modal Des-->
                <div class="modal fade" th:id="'exampleDes'+${product.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Description : <span th:text="${product.name}"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                       <p th:utext="${product.description}"></p>
                      </div>

                    </div>
                  </div>
                </div>
              </th:block>
              <!-- Modal Add-->
              <div class="modal fade" id="exampleModalAdd" tabindex="-1"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/admin/product/add" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-6">
                              <div class="">
                                <label  class="col-form-label">Name product<span style="color: red">(*)</span>:</label>
                                <input type="text" name="name" class="form-control" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Price<span style="color: red">(*)</span>:</label>
                                <input type="number" name="price" class="form-control" min="1" max="10000" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Quantiy<span style="color: red">(*)</span>:</label>
                                <input type="number" name="quantity" class="form-control" min="1" max="1000" required>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="">
                                <label  class="col-form-label">Image<span style="color: red">(*)</span>:</label><br>
                                <input type="file" name="file" class="form-control" required>
                              </div>
                              <div class="">
                                <label  class="col-form-label">Discount (%):</label><br>
                                <input type="number" name="discount" class="form-control" min="0" max="100" required value="0">
                              </div>
                              <div class="">
                                <label  class="col-form-label">Category<span style="color: red">(*)</span>:</label><br>
                                <select class="form-control" name="categoryId" required>
                                  <option value="0">--Choose category--</option>
                                  <th:block th:each="category,index : ${categorys}">
                                    <option th:value="${category.id}" th:text="${category.name}"></option>
                                  </th:block>
                                </select>
                              </div>

                          </div>
                        </div>
                        <div class="col-12">
                          <label  class="col-form-label">Description<span style="color: red">(*)</span>:</label><br>
                          <textarea name="description" id="editor" cols="30"
                                    rows="30"></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" style="width:100px" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" style="width:100px" class="btn btn-primary">Create</button>
                        </div>
                      </form>
                    </div>
                    <script>
                      ClassicEditor.create(document.querySelector('#editor')).then(eidt => {
                        console.log("da" + eidt);
                      })
                              .catch(error => {
                                console.error(error);
                              });
                    </script>
                  </div>
                </div>
              </div>
              <script>
                var dodai = document.getElementById("dodai").value;
                var a = parseInt(dodai);
                for(var i = 1;i<=a+10;i++){
                  var name = "#editor"  + i
                  ClassicEditor.create(document.querySelector(name)).then(eidt => {
                    console.log("da" + eidt);
                  })
                          .catch(error => {
                            console.error(error);
                          });
                }
              </script>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="admin/fragments :: footer" class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script th:src="@{/admin1/assets/assets/demo/chart-area-demo.js}"></script>
<script th:src="@{/admin1/assets/assets/demo/chart-bar-demo.js}"></script>
<script th:src="@{/admin1/assets/assets/demo/chart-pie-demo.js}"></script>
</body>

</html>